@model WebApplicationTravel.Models.Account

@{
    ViewBag.Title = "calcPath";
}

<h2>calcPath</h2>
@if (Session["UserName"] != null)
{
    <input type="hidden" value="@Session["Reservations"]" id="myHiddenVar" />
    var x = Session["Reservations"];
    foreach(var item in x)
    {

    }


    var session = HttpContext.Current.Session;

    <p>@session["Reservations"].ToString()</p>
  
}
else
{
      <li>@Html.ActionLink("Sign-in", "Login", "Accounts")</li>
      <li>@Html.ActionLink("Sign-up", "Register", "Accounts")</li>
}

