
@{
    Layout = null;
}

<!DOCTYPE html>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/MyTemplate/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MyTemplate/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Reservation Number</th>
                                    <th class="cell100 column1">Departure date</th>
                                    <th class="cell100 column3">Reservation Detail</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                @{
                                    var res = ViewBag.res;
                                    string resStr = res.TheReservation;
                                }
                                <tr>
                                    <td class="cell100 column1">
                                        <h3>@res.ReservationId</h3>
                                    </td>
                                    <td class="cell100 column1">
                                        <h3>@res.Departure</h3>
                                    </td>
                                    <td class="cell100 column6">
                                        <h3>@res.TheReservation</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="fh5co-tours" class="fh5co-section-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-2 text-center heading-section animate-box">
                                <form action=@Url.Action("Profile", "Reservations")>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <div class="form-group">
                                            <div>
                                                <input type="submit" name="id" class="btn btn-primary btn-outline" value="Order now!" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form action=@Url.Action("DoNotOrder", "Reservations", new { id = @res.ReservationId })>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <div class="form-group">
                                            <div>
                                                <input type="submit" name="id" class="btn btn-primary btn-outline" value="Do not order and go back..." />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/MyTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });


    </script>
    <!--===============================================================================================-->
    <script src="~/Content/MyTemplate/js/main.js"></script>
</body>

</html>
