
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}

<h2>Register</h2>
<h1>Register Form</h1>
<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <div class="bg-content-w3pvt">
        <div class="top-content-style">
            <img src="@Url.Content("~/Content/LoginPage/")images/msg.jpg" alt="" />
        </div>
        <form action="Register" method="post">
            <p class="legend">Register Here<span class="fa fa-hand-o-down"></span></p>
            <div class="input">
                <input type="text" placeholder="User Name" name="UserName" required />
                <span class="fa fa-envelope"></span>
            </div>
            <div class="input">
                <input type="password" placeholder="Password" name="password" required />
                <span class="fa fa-unlock"></span>
            </div>
            <button type="submit" class="btn submit">
                <span class="fa fa-sign-in"></span>
            </button>
        </form>
    </div>
</div>


